

.box1{
width:700px;
height:50px;
background-color:#0C79C3;
margin: 50px auto 50px auto;
box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
}



.box2{
width:700px;
height:50px;
background-color:#0C79C3;
margin: 50px auto 50px auto;
box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
}



.box3{
width:700px;
height:50px;
background-color:#0C79C3;
margin: 50px auto 50px auto;
box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
}

.box4{
width:700px;
height:50px;
background-color:#0C79C3;
margin: 50px auto 50px auto;
box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
}

.box5{
width:700px;
height:50px;
background-color:#0C79C3;
margin: 50px auto 50px auto;
box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
}

.box6{
width:700px;
height:50px;
background-color:#0C79C3;
margin: 50px auto 50px auto;
box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
}